[msg-item-component] {
  padding: 10px;
  .user-img {
    float: left;  
    & > img {
      width: 35px;
      height: 35px;
      border-radius: 50%;  
    }
  }
  .content-box {
    margin-left: 45px;
    .user-tip {
      margin-bottom: 10px;
      & > span {
        margin-left: 10px;  
      }  
    }
    .content {
      display: inline-block;
      padding: 10px;
      border-radius: 5px;  
      background: #f2f2f2;
    }
  }
}
.right-item {
  text-align: right;
  .user-img {
    float: right;  
  }
  .content-box {
    margin-right: 45px; 
    .content {
      background: #e1f1fc;
    }
  }
}